<div class="setting">
  <div class="setting-box">
    <h2 class="setting__title">Profile</h2>
    <div class="setting__content">
      <form novalidate>
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" type="text" class="form-control" ng-model="vm.details.user.name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="text" class="form-control" ng-model="vm.details.user.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="password" class="form-control" ng-model="vm.details.user.password">
        </div>
        <div class="form-group">
          <button class="btn btn-auth" ng-click="vm.updateProfile(vm.details)">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
