.dashboard {
  a {
    font-family: "Roboto", sans-serif;
  }
}
.dashboard__title {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  margin-bottom: 2rem;
}
.setting-box {
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 2rem;
  margin-top: 2rem;
  width: 50%;
}
.setting__title {
  margin-bottom: 2rem;
}
