<div class="auth">
  <div class="container">
    <div class="auth-box">
      <div class="auth__header">
        <h1 class="auth__title">Register for free</h1>
      </div>
      <div class="auth__body">
        <form novalidate class="form">
          <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="Name" ng-model="vm.details.name" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email" ng-model="vm.details.email" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" ng-model="vm.details.password" required>
          </div>
          <button class="btn btn-lg btn-auth" type="submit" ng-click="vm.signup(vm.details)">Submit</button>
        </form>
      </div>
      <div class="auth__footer">
      </div>
    </div>
  </div>
</div>
